
<%= form_for @post,:html => { :multipart => true,:class => "form-horizontal center" } do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <div class="col-md-offset-2">
        <%= f.fields_for :post_attachments, @post.post_attachments do |p| %>
          <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
              <%= image_tag('cam.png') %><br>
              <%= f.file_field :avatar,name: "post_attachments[avatar][]", class: "form-control" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :title, class: "col-md-4 control-label"%>
      <div class="col-md-4">
        <%= f.text_field :title, class: "form-control input-md" %>
      </div>
    </div>

    <div class="form-group">
        <%= f.label :location,class: "col-md-4 control-label"%>
      <div class="col-md-4">
        <%= f.collection_select :location_id, Location.all, :id, :name, {prompt: "Select a locatiom"}, {class: "form-control"} %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :description, class: "col-md-4 control-label"%>
      <div  class="col-md-4">
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div  class="col-md-4">
        <%= f.label :categories, class: "col-md-12 control-label"%><br>
        </div>
      <div  class="col-md-4">
        <%= f.collection_select :category_ids, Category.all,:id,:name,{ :prompt => "Please select"}, { :multiple => true,class: "form-control"} %><br>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for=""></label>
      <div class="col-md-8">
          <%= f.submit :save,class: "btn btn-primary" %>
        <button id="button2id" class="btn btn-danger">Cancel</button>
      </div>
    </div>

<% end %>
