<div class="row thumbnail">

  <div class="col-md-4" id="post-image">
    <div class="thumbnail">
      <%= post_image(post) %>
    </div>
  </div>

  <div class="col-md-8" id="post-content">
    <div class="row">
      <h5> <%= link_to post.title,post_path(post),class: "fnt-bigger"%> <small class="pull-right"><%= user_name(post) %></small></h5>
      <h6><%= post.description %></h6>
      <h6> <%= post.location %></h6>
    </div>
  </div>

</div>